<!--
Looking for more information about the Slice Zone? Here's the documentation about it:
https://www.slicemachine.dev/documentation/nuxt/add-the-slice-zone-to-your-page
-->
<template>
  <div>
    Users
    <div id="__subapp" key="subapp"></div>
  </div>
</template>

<script>
// This doesn't work either

import {
  registerApplication,
  // unloadApplication,
  start
} from "single-spa";
import * as singleSpa from 'single-spa'

const appNames = singleSpa.getAppNames()

export default {
  name: "SubAppPage",
  created() {
    if (!appNames.includes("subapp")) {
      registerApplication({
        name: "subapp",
        app: async () => await import("../../sub-app/_nuxt/subapp"),
        activeWhen: "/subapp",
      });
      start();
    }
  },
   beforeUnmount() {
     singleSpa.unregisterApplication('subapp').then(()=>{
      console.log('subapp is unmounted')
    });
  },
};
</script>
