<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :locale="$i18n.locale"
        :data-url="getBasePath"
        v-bind="userDefs"
        :custom-headers="true"
        :checked-rows-ids="checkedRows"
        :get-checked-rows="getCheckedRows"
        @cleanFilters="cleanAllFilters"
        @checkedRows="checkRows"
        @before-form-open="setRoles()"
        @form-open="setOldValue"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            if (!row.emailConfirmed) showApprove = true
            else showApprove = false
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template v-if="isInModal" #header-extra-content>
          <!-- <p class="pt-1 card-header-subtitle is-size-5">sdsdsd</p> -->
          <b-button
            rounded
            outlined
            class="mx-5 my-5"
            type="is-light is-primary table-buttons"
            @click="modalClose"
          >
            <b-icon icon="close" size="is-small" />
          </b-button>
        </template>
        <template v-if="isInModal" #extra-content>
          <hr class="is-fullwidth my-3" />
          <b-field grouped position="is-right" style="padding: 0">
            <div class="control">
              <b-button
                outlined
                :disabled="!isAvailableRecover"
                type="is-info is-light"
                @click="$emit('users-to-action', checkedRowsItems)"
              >
                <span>{{ $tc('accept', checkedRowsItems.length) }}</span>
              </b-button>
              <b-button type="is-light is-primary" outlined @click="modalClose">
                <b-icon icon="close" size="is-small" />
                <span>{{ $t('closeButton') }}</span>
              </b-button>
            </div>
          </b-field>
        </template>
        <template
          v-if="!recovery && !approve && !assignAdmins"
          #extra-header-buttons
        >
          <b-tooltip type="is-info" :label="$t('modalTitle')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="plus"
              type="is-info"
              @click="createUser"
            />
          </b-tooltip>
          <b-tooltip type="is-info" :label="$t('recovery')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="target-account"
              type="is-info"
              @click="isModalActive = true"
            />
          </b-tooltip>
          <b-tooltip type="is-info" :label="$tc('approve', 2)" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="check-outline"
              type="is-info"
              @click="isModalApproveActive = true"
            />
          </b-tooltip>
        </template>
        <template
          v-if="!recovery && !approve && !assignAdmins"
          #extra-row-buttons="slotProps"
        >
          <b-tooltip
            :label="
              slotProps.record.enabled
                ? $tc('shuffleDisable', 0)
                : $tc('shuffleDisable', 1)
            "
            position="is-left"
            :type="slotProps.record.enabled ? 'is-danger' : 'is-success'"
          >
            <b-button
              icon-left="shuffle-disabled"
              :type="slotProps.record.enabled ? 'is-danger' : 'is-success'"
              :rounded="userDefs.vicon.roundedButtons"
              :class="userDefs.vicon.class"
              :size="userDefs.vicon.size"
              @click.stop="
                shuffleDisable(
                  slotProps.record.userName || slotProps.record.email,
                  slotProps.record.enabled
                )
              "
            ></b-button>
          </b-tooltip>
          <b-tooltip
            :label="$tc('approve', 1, { s: '' })"
            position="is-left"
            type="is-success"
          >
            <b-button
              icon-left="check-outline"
              type="is-success"
              :rounded="userDefs.vicon.roundedButtons"
              :class="userDefs.vicon.class"
              :size="userDefs.vicon.size"
              :disabled="slotProps.record.emailConfirmed"
              @click.stop="
                manualApproveUser(
                  slotProps.record.userName || slotProps.record.email
                )
              "
            ></b-button>
          </b-tooltip>
          <b-tooltip
            :label="$t('changePass')"
            position="is-left"
            type="is-white"
          >
            <b-button
              icon-left="key"
              :rounded="userDefs.vicon.roundedButtons"
              :class="userDefs.vicon.class"
              :size="userDefs.vicon.size"
              @click.stop="setPassword(slotProps.record)"
            ></b-button>
          </b-tooltip>
          <b-tooltip
            :label="$t('changePerms')"
            position="is-left"
            type="is-white"
          >
            <b-button
              icon-left="lock-open"
              :rounded="userDefs.vicon.roundedButtons"
              :class="userDefs.vicon.class"
              :size="userDefs.vicon.size"
              @click.stop="
                updateRoles(slotProps.record.email || slotProps.record.userName)
              "
            ></b-button>
          </b-tooltip>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
      </server-table-component>
    </section>
    <b-modal
      :active.sync="showChangePasswordModal"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      :can-cancel="['escape', 'x']"
    >
      <change-password-form
        :is-in-modal="true"
        :is-moderate="true"
        :locale="$i18n.locale"
        :title="$t('cardTitle')"
        :subtitle="$t('changePass')"
        @save="changePassword"
      >
        <template #form-extra-fields>
          <b-field horizontal :label="$t('userName')">
            <b-input
              v-model="userName"
              name="userName"
              readonly
              custom-class="is-static"
              expanded
            ></b-input>
          </b-field>

          <b-field horizontal :label="$t('email')">
            <b-input
              v-model="userEmail"
              name="email"
              readonly
              custom-class="is-static"
              expanded
            ></b-input>
          </b-field>
        </template>
      </change-password-form>
    </b-modal>
    <ctx v-if="!isReadonly" />
    <b-modal v-model="isModalActive">
      <user
        :is-in-modal="true"
        :is-readonly="true"
        :checkable="true"
        :recovery="true"
        :approve="false"
        :assign-admins="false"
        @users-to-action="recoveryUsers"
      />
    </b-modal>
    <b-modal v-model="isModalApproveActive">
      <user
        :is-in-modal="true"
        :is-readonly="true"
        :checkable="true"
        :recovery="false"
        :approve="true"
        :assign-admins="false"
        @users-to-action="manualApproveUser"
      />
    </b-modal>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  CheckboxPicker,
  DateColumnComponent,
  DynamicForm,
  EmailComponent,
  ImageColumnComponent,
  TagListComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_SELECTION,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import AdvancedCropper from '~/components/Inputs/AdvancedCropper.vue'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '@/mixins/genericFiltersMixin'
import User from '~/pages/index.vue'

export default {
  name: 'User',
  meta: { requiresAdmin: true },
  components: { User },
  mixins: [axiosToastErrorsMixin, tableContextMenuMixin, genericFiltersMixin],
  props: {
    assignAdmins: {
      type: Boolean,
      defaul: false
    },
    recovery: {
      type: Boolean,
      defaul: false
    },
    approve: {
      type: Boolean,
      defaul: false
    },
    isReadonly: {
      type: Boolean,
      defaul: false
    },
    checkable: {
      type: Boolean,
      defaul: false
    },
    checkedRows: {
      type: Array,
      default: () => []
    },
    isInModal: {
      type: Boolean,
      defaul: false
    }
  },
  data() {
    return {
      showApprove: false,
      reload: false,
      isModalActive: false,
      isModalApproveActive: false,
      userDefs: {
        vtable: {
          checkable: this.checkable,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: false,
              filter: {
                useFilter: false,
                isActive: false
              }
            },
            {
              text: this.$t('avatar'),
              value: 'avatar',
              align: 'left',
              sortable: false,
              render: {
                type: ImageColumnComponent,
                props: { basePath: null }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('name'),
              value: 'fullName',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'fullName'
              }
            },
            {
              text: this.$t('userName'),
              value: 'userName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'userName'
              }
            },
            {
              text: this.$t('email'),
              value: 'email',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'email'
              }
            },
            {
              text: this.$t('emailConfirmed'),
              value: 'emailConfirmed',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText'),
                  textLenght: 80
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'emailConfirmed'
              }
            },
            {
              text: this.$t('phoneNumber'),
              value: 'phoneNumber',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'phoneNumber'
              }
            },
            {
              text: this.$t('approveMethod'),
              value: 'whoConfirmed',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value === 'NotEnabled'
                  ? this.$tc('approveType', 0)
                  : value === 'UserByEmail'
                  ? this.$tc('approveType', 1)
                  : value === 'UserAdmin'
                  ? this.$tc('approveType', 2)
                  : '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'whoConfirmed'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'is-inline-flex',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: { show: false }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: !this.recovery && !this.approve && !this.assignAdmins,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        title: this.$t('cardTitle'),
        subtitle: this.recovery
          ? this.$t('recovery')
          : this.approve
          ? this.$tc('approve', 2)
          : this.assignAdmins
          ? this.$tc('admins', 2)
          : '',
        modalTitle: this.$t('modalTitle'),
        headerIcon: 'account-multiple-outline',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {}
          },
          avatar: {
            type: AdvancedCropper,
            default: '',
            'field-wrapper': {
              class: 'is-12'
            },
            'field-input': {
              label: this.$t('avatar'),
              placeholder: this.$t('placeholder', {
                key: this.$t('avatar').toLowerCase()
              }),
              isUserAvatar: true,
              isRequired: false,
              expanded: true,
              aspectRatio: 4 / 4,
              imageRestriction: 'none',
              stencilComponent: 'circle-stencil',
              uploadWithUppy: false
            }
          },
          fullName: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('fullName'),
              placeholder: this.$t('placeholder', {
                key: this.$t('fullName').toLowerCase()
              }),
              isUserName: false
            }
          },
          userName: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('userName'),
              placeholder: this.$t('placeholder', {
                key: this.$t('userName').toLowerCase()
              }),
              isUserName: true
            }
          },
          password: {
            type: null,
            default: 'User*123'
          },
          email: {
            type: EmailComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('email'),
              placeholder: this.$t('placeholder', {
                key: this.$t('email').toLowerCase()
              })
            },
            save: (v) => v.toLowerCase()
          },
          // roleName: {
          //   type: SelectComponent,
          //   value: 'roleName',
          //   default: '',
          //   'field-wrapper': { class: 'is-12' },
          //   'field-input': {
          //     label: this.$t('roleName'),
          //     placeholder: this.$t('addRole'),
          //     optionItems: this.roleItems,
          //     optionId: 'id',
          //     optionName: 'name',
          //     expanded: true
          //   }
          // },
          phoneNumber: {
            type: TagListComponent,
            default: [],
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('phoneNumber'),
              placeholder: this.$t('placeholder', {
                key: this.$t('phoneNumber').toLowerCase()
              }),
              controls: false,
              isRequired: false,
              openOnFocus: false
            },
            render: (v) => v || [],
            save: (v) => v && v.join(',')
          },
          newEmail: {
            type: null,
            default: '',
            'field-wrapper': { style: 'display: none' },
            'field-input': {}
          }
        },
        findRecordsCount: 'records',
        findSearchField: 'searchText',
        paginationLengthField: 'pageSize',
        idName: 'email',
        rowName: 'fullName',
        updateUrl: `/User`,
        createUrl: `/User`,
        deleteUrl: `/User`,
        findOneUrl: '/User/UserAccountInfo'
      },
      showChangePasswordModal: false,
      userId: undefined,
      userEmail: '',
      userName: '',
      roleItems: [],
      roleConfig: {
        type: CheckboxPicker,
        default: ['admin', 'cchannelAdmin', 'visitor'],
        'field-wrapper': {
          class: 'is-12 group-is-block'
        },
        'field-input': {
          label: this.$tc('roles'),
          horizontal: false,
          options: this.getSistemRoles()
        },
        save: (v) => {
          let error = false
          const deleteRoles = this.roleItems.filter(
            (element) => !v.includes(element)
          )
          const dataUrl = `ContextedRole/systemuser`

          if (deleteRoles.length > 0) {
            this.$axios
              .delete(dataUrl, {
                data: {
                  userEmailOrName: this.userId,
                  roleId: deleteRoles
                }
              })
              .then((response) => {})
              .catch((err) => {
                error = true
                if (err.message.includes('status code 504'))
                  this.$buefy.toast.open({
                    duration: 5000,
                    message: this.$t('genericError', {
                      error: this.$t('connectionError')
                    }),
                    type: 'is-danger'
                  })
                else if (err.message.includes('status code 401'))
                  this.$buefy.toast.open({
                    duration: 5000,
                    message: this.$t('genericError', {
                      error: this.$t('authorizationError')
                    }),
                    type: 'is-danger'
                  })
                else
                  this.$buefy.toast.open({
                    duration: 5000,
                    message: this.$t('genericError', { error: '' }),
                    type: 'is-danger'
                  })
              })
          }
          if (!error) {
            const addRoles = v.filter(
              (element) => !this.roleItems.includes(element)
            )
            if (addRoles.length > 0) {
              this.$axios
                .post(dataUrl, {
                  userEmailOrName: [this.userId],
                  roleId: addRoles
                })
                .then((response) => {
                  this.$buefy.toast.open({
                    message: this.$t('editRolesSuccess'),
                    type: 'is-success'
                  })
                })
                .catch((err) => {
                  if (err.message.includes('status code 504'))
                    this.$buefy.toast.open({
                      duration: 5000,
                      message: this.$t('genericError', {
                        error: this.$t('connectionError')
                      }),
                      type: 'is-danger'
                    })
                  else if (err.message.includes('status code 401'))
                    this.$buefy.toast.open({
                      duration: 5000,
                      message: this.$t('genericError', {
                        error: this.$t('authorizationError')
                      }),
                      type: 'is-danger'
                    })
                  else
                    this.$buefy.toast.open({
                      duration: 5000,
                      message: this.$t('genericError', { error: '' }),
                      type: 'is-danger'
                    })
                })
            } else
              this.$buefy.toast.open({
                message: this.$t('editRolesSuccess'),
                type: 'is-success'
              })
          }
        }
      },
      isAvailableRecover: false,
      checkedRowsItems: [],
      filterForm: {
        UserFilter: {
          title: this.$t('cardTitle'),
          icon: 'television-classic',
          form: {
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Username: {
              fieldType: TYPE_TEXT,
              label: this.$t('userName'),
              placeholder: this.$t('placeholder', {
                key: this.$t('userName').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Email: {
              fieldType: TYPE_TEXT,
              label: this.$t('email'),
              placeholder: this.$t('placeholder', {
                key: this.$t('email').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            PhoneNumber: {
              fieldType: TYPE_TEXT,
              label: this.$t('phoneNumber'),
              placeholder: this.$t('placeholder', {
                key: this.$t('phoneNumber').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            VerificationMethod: {
              fieldType: TYPE_SELECTION,
              label: this.$t('approveMethod'),
              placeholder: this.$t('placeholder', {
                key: this.$t('approveMethod').toLowerCase()
              }),
              props: {
                optionItems: [
                  { id: 'NotEnabled', name: this.$tc('approveType', 0) },
                  { id: 'UserAdmin', name: this.$tc('approveType', 1) },
                  { id: 'UserByEmail', name: this.$tc('approveType', 2) }
                ],
                optionName: 'name',
                optionId: 'id'
              }
            },
            EmailConfirmed: {
              fieldType: TYPE_SELECTION,
              label: this.$t('emailConfirmed'),
              placeholder: this.$t('placeholder', {
                key: this.$t('emailConfirmed').toLowerCase()
              }),
              props: {
                optionItems: [
                  { id: false, name: this.$tc('falseText') },
                  { id: true, name: this.$tc('trueText') }
                ],
                optionName: 'name',
                optionId: 'id'
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Name: 'fullName',
        Username: 'userName',
        Email: 'email',
        PhoneNumber: 'phoneNumber',
        VerificationMethod: 'whoConfirmed',
        EmailConfirmed: 'emailConfirmed',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    locale() {
      return this.$i18n.locale
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? this.recovery
          ? `/User?filters=${this.filters},isDeleted==true`
          : this.approve
          ? `/User?filters=${this.filters},emailConfirmed==false`
          : this.assignAdmins
          ? `/User?filters=${this.filters},isDeleted==false,emailConfirmed==true`
          : `/User?filters=${this.filters},isDeleted==false`
        : this.recovery
        ? `/User?filters=isDeleted==true`
        : this.approve
        ? `/User?filters=emailConfirmed==false`
        : this.assignAdmins
        ? `/User?filters=isDeleted==false,emailConfirmed==true`
        : `/User?filters=isDeleted==false`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'changePass', icon: 'key', name: this.$t('changePass') },
        { id: 'changePerms', icon: 'lock-open', name: this.$tc('changePerms') },
        { id: 'approve', icon: 'check-outline', name: this.$tc('approve', 2) }
      ]
      return this.rowInCtx
        ? !this.showApprove
          ? opt.slice(0, 4)
          : opt
        : opt.slice(0, 1)
    }
  },
  created() {
    this.userDefs.vtable.headers =
      this.isReadonly || this.checkable
        ? this.userDefs.vtable.headers.slice(0, 9)
        : this.userDefs.vtable.headers
    // this.getSistemRoles()
  },
  methods: {
    modalClose() {
      let parent = this.$parent
      let isClosed = false
      while (!isClosed) {
        try {
          parent.close()
          isClosed = true
        } catch (error) {
          parent = parent.$parent
        }
      }
      this.$emit('modalClose')
    },
    checkRows(val) {
      this.checkedRowsItems = val
      if (this.checkedRowsItems.length !== 0) {
        this.isAvailableRecover = true
      } else {
        this.isAvailableRecover = false
      }
    },
    createUser() {
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.userDefs.form,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('modalTitle'),
          submitUrl: '/User',
          editionMode: false,
          isInModal: true,
          locale: this.$i18n.locale
        },
        events: {
          'form-saved': (data) => {
            for (const key in this.userDefs.form) {
              if (Object.hasOwnProperty.call(this.userDefs.form, key)) {
                const element = this.userDefs.form[key]
                element.value = null
              }
            }
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    recoveryUsers(usersList) {
      this.isModalActive = false
      const usersEmailsOrName = usersList.map(function (user) {
        return user.email || user.userName
      })

      this.$axios
        .post(`User/RecoverUser`, usersEmailsOrName)
        .then((response) => {
          this.reload = true
          this.$buefy.toast.open({
            message:
              usersEmailsOrName.length > 1
                ? this.$t('recoverySuccess', {
                    s: 's'
                  })
                : this.$t('recoverySuccess', {
                    s: ''
                  }),
            type: 'is-success'
          })
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          // this.toastError(err)
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('connectionError')
              }),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('authorizationError')
              }),
              type: 'is-danger'
            })
          else
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', { error: '' }),
              type: 'is-danger'
            })
        })
    },
    setRoles() {
      this.userDefs.form.roleName['field-input'].optionItems = this.roleItems
    },
    setOldValue(form) {
      if (!Array.isArray(form.roleName.value)) {
        this.userDefs.form.roleName.value = []
      }
    },
    setPassword(record) {
      this.userId = record.id
      this.userEmail = record.email
      this.userName = record.userName
      this.showChangePasswordModal = true
    },
    changePassword(form) {
      const dataUrl = `User/password/${this.userEmail}`
      this.$axios
        .patch(dataUrl, form.confirmPassword, {
          headers: { 'Content-Type': 'application/json' }
        })
        .then((response) => {
          this.$buefy.toast.open({
            message: this.$t('passwordChanged'),
            type: 'is-success'
          })
        })
        .catch((err) => {
          // this.toastError(err)
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('connectionError'),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('authorizationError'),
              type: 'is-danger'
            })
          else
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', { error: '' }),
              type: 'is-danger'
            })
        })
    },
    updateRoles(userId) {
      // console.log(userId)
      // this.roleConfig.default = []
      this.roleItems = this.getUserRoles(userId)
      this.userId = userId
      this.roleConfig.value = this.roleItems

      // Show modal with data
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: { config: this.roleConfig },
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('changePerms'),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale
        },
        // events: {
        //   onSubmit: (values) => {
        //     this.$axios
        //       .put('', {
        //         userId,
        //         ...values.config
        //       })
        //       .then((data) => {})
        //       .catch((err) => {
        //         if (err.message.includes('status code 504'))
        //           this.$buefy.toast.open({
        //             duration: 5000,
        //             message: this.$t('connectionError'),
        //             type: 'is-danger'
        //           })
        //         else if (err.message.includes('status code 401'))
        //           this.$buefy.toast.open({
        //             duration: 5000,
        //             message: this.$t('authorizationError'),
        //             type: 'is-danger'
        //           })
        //         else
        //           this.$buefy.toast.open({
        //             duration: 5000,
        //             message: this.$t('genericError', { error: '' }),
        //             type: 'is-danger'
        //           })
        //       })
        //   }
        // },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    getSistemRoles() {
      const dataUrl = `Role?filters=permissionType==1`
      const options = {}
      this.$axios
        .get(dataUrl)
        .then((response) => {
          response.data.results.forEach((element, i) => {
            if (element.name !== 'Usuario') {
              const llave = element.id
              options[llave] = element.name
            }
          })
        })
        .catch((err) => {
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('connectionError')
              }),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('authorizationError')
              }),
              type: 'is-danger'
            })
          else
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', { error: '' }),
              type: 'is-danger'
            })
        })
      return options
    },
    getUserRoles(userId) {
      const dataUrl = `ContextedRole/systemuser/${userId}`
      const roles = []
      this.$axios
        .get(dataUrl)
        .then((response) => {
          response.data.roles.forEach((element, i) => {
            if (element.name !== 'Usuario') {
              roles.push(element.id)
            }
          })
        })
        .catch((err) => {
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('connectionError')
              }),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('authorizationError')
              }),
              type: 'is-danger'
            })
        })
      return roles
    },
    handleCtxMenuClicked(option, record) {
      if (option) {
        if (option.id === 'add') this.createUser()
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
        else if (option.id === 'changePass' && record) {
          this.setPassword(record)
        } else if (option.id === 'approve' && record) {
          this.manualApproveUser(record.userName || record.email)
        } else if (option.id === 'changePerms' && record) {
          this.updateRoles(record.email || record.userName)
        }
      }
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'users',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('cardTitle', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    manualApproveUser(userEmailOrName) {
      let list = null
      let usersEmailsOrName = null
      if (!Array.isArray(userEmailOrName)) list = [userEmailOrName]
      else {
        this.isModalApproveActive = false
        usersEmailsOrName = userEmailOrName.map(function (user) {
          return user.email || user.userName
        })
      }

      this.$axios
        .post(`User/ConfirmEmail`, list != null ? list : usersEmailsOrName)
        .then((response) => {
          this.reload = true
          this.$buefy.toast.open({
            message:
              list != null
                ? this.$t('approveSucess', { s: '' })
                : usersEmailsOrName.length > 1
                ? this.$t('approveSucess', { s: 's' })
                : this.$t('approveSucess', { s: '' }),
            type: 'is-success'
          })
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          // this.toastError(err)
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('connectionError')
              }),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('authorizationError')
              }),
              type: 'is-danger'
            })
          else
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', { error: '' }),
              type: 'is-danger'
            })
        })
    },
    shuffleDisable(usersEmailsOrName, enabled) {
      this.$axios
        .post(`User/${enabled ? 'DisableUser' : 'EnableUser'}`, [
          usersEmailsOrName
        ])
        .then((response) => {
          this.reload = true
          this.$buefy.toast.open({
            message: enabled
              ? this.$tc('shuffleDisableSucess', 1)
              : this.$tc('shuffleDisableSucess', 0),
            type: 'is-success'
          })
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          // this.toastError(err)
          if (err.message.includes('status code 504'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('connectionError')
              }),
              type: 'is-danger'
            })
          else if (err.message.includes('status code 401'))
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', {
                error: this.$t('authorizationError')
              }),
              type: 'is-danger'
            })
          else
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('genericError', { error: '' }),
              type: 'is-danger'
            })
        })
    },
    getCheckedRows(ids, records) {
      let data = []
      if (records && records.length) {
        data = data.concat(records.filter((item) => ids.includes(item.email)))
      }
      return data
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Users",
    "cardTitleDeleted": "Deleted Users",
    "cardTitleNoConfirmed": "No verified users",
    "userName": "User name",
    "modalTitle": "Create",
    "recovery": "Recover deleted",
    "roleName": "Role",
    "email": "Email",
    "editButton": "Edit",
    "addRole": "Add new role",
    "changePass": "Change password",
    "phoneNumber": "Phone number",
    "password": "Password",
    "emailConfirmed": "Email confirmed",
    "fullName": "Full Name",
    "avatar": "Avatar",
    
    "recover": "Recover",
    "recover_some": "Recover ({count})",
    "approveMethod": "Verification Method",
    "approve": "Verify user{s} | Verify",
    "approveSucess": "User{s} verified successfully",
    "recoverySuccess": "User{s} recovered successfully",
    "accept": "Accept | Accept(1) | Accept({count})",
    "admins": "Assign admins",
    "userNoRoles": "This user have no assigned roles",
    "approveType": "Not verified | Link | Manual",
    "shuffleDisable": "Enabled | Disabled",
    "shuffleDisableSucess": "User enabled successfully | User disabled successfully"
  },
  "es": {
    "cardTitle": "Usuarios",
    "cardTitleDeleted": "Usuarios eliminados",
    "cardTitleNoConfirmed": "Usuarios no verificados",
    "userName": "Nombre de usuario",
    "modalTitle": "Crear",
    "recovery": "Recuperar eliminados",
    "roleName": "Rol",
    "email": "Correo",
    "editButton": "Editar",
    "addRole": "Añadir nuevo rol",
    "changePass": "Cambiar contraseña",
    "phoneNumber": "Número de teléfono",
    "password": "Contraseña",
    "emailConfirmed": "Correo confirmado",
    "fullName": "Nombre y Apellidos",
    "avatar": "Ávatar",
    "recover": "Recuperar",
    "recover_some": "Recuperar ({count})",
    "approveMethod": "Método de verificación",
    "approve": "Verificar usuario{s} | Verificar",
    "approveSucess": "Usuario{s} verificado{s} satisfactoriamente",
    "recoverySuccess": "Usuario{s} recuperado{s} satisfactoriamente",
    "accept": "Aceptar | Aceptar(1) | Aceptar({count})",
    "admins": "Asignar administradores",
    "userNoRoles": "Este usuario no posee roles asignados",
    "approveType": "No verificado | Enlace | Manual",
    "shuffleDisable": "Habilitar | Deshabilitar",
    "shuffleDisableSucess": "Usuario habilitado satisfactoriamente | Usuario deshabilitado satisfactoriamente"
  }
}
</i18n>
