// Import default theme of premium-tesh
@import '~premium-tesh-ui-lib/src/styles/scss/_theme-default.scss';
// Importing general styles from premium-tesh-ui-lib
@import '~premium-tesh-ui-lib/src/styles/scss/main.scss';

// Importing styles from custom components
@import '~bulma-timeline';

@mixin full-card {
  height: 100%;
  & > div.card {
    border-radius: 1rem;
    box-shadow: none;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: hidden;

    & > .card-header {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      align-items: center;
      box-shadow: none;
    }

    & > div.card-content {
      padding: 0;
      height: 100%;
      border-radius: 0;
      @include custom-scrolls;
      overflow-x: hidden;
    }
  }
}

@mixin custom-scrolls {
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin; /* "auto" or "thin" Firefox */
  scrollbar-color: #716aca #ffff; /* scroll thumb and track Firefox*/

  /* width */
  &::-webkit-scrollbar {
    height: 6px;
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ffff;
    border-radius: 6px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #716aca;
    border-radius: 6px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #7972d8;
  }
}

div.navbar-brand.is-logo {
  figure.image {
    max-width: 200px;
  }
}

tr:not(.is-dragging) {
  &.state-is-info {
    .state-column {
      text-align: center;
      span.select {
        &::after {
          border-color: black;
        }
      }
      select {
        &:not(:hover) {
          background-color: $info !important;
        }
      }
    }
  }
  &.state-is-success {
    .state-column {
      text-align: center;
      span.select {
        &::after {
          border-color: black;
        }
      }
      select {
        &:not(:hover) {
          background-color: $success !important;
        }
      }
    }
  }
  &.state-is-warning {
    .state-column {
      text-align: center;
      span.select {
        &::after {
          border-color: black;
        }
      }
      select:not(:hover) {
        background-color: $warning !important;
      }
    }
  }
  &.state-is-danger {
    .state-column {
      text-align: center;
      span.select {
        &::after {
          border-color: black;
        }
      }
      select:not(:hover) {
        background-color: $danger !important;
      }
    }
  }
  &.emission-color {
    .emission-column {
      text-align: center;
      color: hsl(256, 60%, 59%);
    }
  }
}

// Error
div.LayoutError {
  .content {
    box-sizing: inherit;
  }
  .footer {
    left: 0;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #233142;
  }
  .whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle 0.2s infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  h1 {
    margin-top: -100px;
    margin-bottom: 10px;
    color: #facf5a;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
  }
  h2 {
    color: #455d7a;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  div.navbar-menu {
    div.navbar-end {
      height: 2.7rem !important;
    }
  }
}

.emissions-card,
.escaleta-card,
.transmitters-card,
.locations-card,
.event-pane > div.card-section,
.splitter-card,
.tags-card > div.card-section {
  @include full-card;
}

.overflow-hidden {
  overflow: hidden;
}

html {
  overflow: auto;
}

.is-aligned-center {
  margin: 0 auto;
}
.is-justified-center {
  justify-content: center;
}
.is-fullwidth {
  width: 100%;
}

.ghost-card {
  div.card-section {
    > div.card {
      background: transparent;
      border: none;
      box-shadow: none;
      > header {
        display: none;
      }
      > div.card-content {
        background-color: transparent;
      }
      > footer {
        border: none;
      }
    }
  }
}
// Splitt Panes
div.escaleta {
  padding: 20px;
  > div.default-theme.splitpanes {
    div.splitpanes__pane {
      background-color: transparent;
    }
    div.splitpanes__splitter {
      background-color: transparent;
      transition-duration: 0.7s;
      &:hover {
        // transform: scale3d(1.5, 1.5, 1.5);
        &::before {
          background-color: #716aca;
        }
        &::after {
          background-color: #716aca;
        }
      }
    }
  }
}

// Slider's border
.b-slider.is-primary .b-slider-track {
  border: 1px solid #7957d5;
}

// Slider's thump border radius
.b-slider-thumb {
  border-radius: 25px !important;
}

// GSTC chart content
.gstc__chart-calendar-date {
  justify-content: center;
}

div.control.datepicker {
  z-index: 60;
  & .dropdown-menu {
    // max-height: 290px;
    @include custom-scrolls;
  }
}
// .master-details-panels-container{
.master-details__header {
  margin-bottom: 0.5rem;
}
.master-details__master {
  min-width: 28vw;
}

// Timeline styles
.timeline-card {
  header.card-header {
    div.card-header-titles {
      display: none;
    }
    > div.timeline-grader {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      > div.field {
        margin-bottom: 0;
      }
      .timeline-grader__button {
        padding: 0 0.7rem;
        cursor: pointer;
        transition: color 0.2s linear;

        &:hover {
          color: hsl(256, 60%, 59%);
        }
      }
    }
  }
}
tr {
  > td.chevron-cell:first-child {
    ~ td {
      vertical-align: middle;
    }
  }
  td {
    white-space: nowrap;
  }
}
tr.detail {
  padding: 0;
  div.detail-container {
    padding: 0;
  }
}

div.vis-timeline {
  div.vis-content {
    > div.vis-labelset {
      > div.vis-label.vis-nested-group > div.vis-inner {
        padding-left: 3rem;
      }
    }
  }
  div.vis-nested-group.vis-group-level-unknown-but-gte1 {
    border: 1px solid #bfbfbf;
  }
  div.vis-tooltip {
    font-size: small;
    max-width: 50rem;
    overflow-x: hidden;
  }

  div.vis-item {
    &.state-is-info {
      background-color: $info-light;
      // opacity: 0.5;
      // font-weight: bold;
      z-index: -1;
    }
    &.state-is-success {
      background-color: $success-light;
      // opacity: 0.6;
      // font-weight: bold;
      z-index: -1;
    }
    &.state-is-warning {
      background-color: $warning-light;
      // opacity: 0.5;
      // font-weight: bold;
      z-index: -1;
    }
    &.state-is-danger {
      background-color: $danger-light;
      // opacity: 0.3;
      // font-weight: bold;
      z-index: -1;
    }
    div.vis-item-content {
      > div:first-child {
        display: flex;
        align-items: center;
        > img {
          // display: none;
          max-width: 4em;
          min-width: 1px;
          height: 90%;
        }
        > span {
          margin-left: 0.5em;
        }
      }
    }
    &.vis-editable.vis-selected {
      // div.vis-item-content {
      //   > div:first-child {
      //     > img {
      //       display: inherit;
      //     }
      //   }
      // }
      &.vis-range:hover::before {
        content: '\F030E';
        font: normal normal normal 24px/1 'Material Design Icons';
        transform: rotate(270deg);
        font-size: initial;
        display: flex;
        position: absolute;
        left: -11px;
        margin-top: 0.53rem;
      }
      &.vis-range:hover::after {
        content: '\F030E';
        font: normal normal normal 24px/1 'Material Design Icons';
        transform: rotate(90deg);
        font-size: initial;
        display: flex;
        position: absolute;
        right: -11px;
        margin-top: -1.68rem;
      }
      div.vis-delete {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
          content: '\F01B4';
          font: normal normal normal 24px/1 'Material Design Icons';
          font-size: initial;
        }
      }
    }
  }
}

td.is-inline-flex {
  > span {
    display: inline-flex;
  }
}

div.obfuscate-detail-modal {
  div.card-section.table-container.no-header-container {
    div.card-content {
      border-radius: 2rem;
    }
  }
}

div.text-area-editor-field {
  + div.text-editor-footer {
    opacity: 0.6;
    border-radius: 0.2rem;
    margin-left: 20%;
    justify-content: flex-end;
    > span.is-footer-content:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
}
.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

div.tree-scrolls-styled {
  > div.tree {
    @include custom-scrolls;
  }
}

.group-is-block {
  div.field.is-grouped-multiline {
    display: block;
  }
}
div.custom-dropdown {
  a.nav-bar-dropdown-menu-item {
    &:hover {
      span {
        color: #572dcb;
        > span.text-margin {
          color: #572dcb;
        }
      }
    }
    span > span.text-margin {
      margin-right: 0.1rem !important;
    }
  }
}

div.filter-button {
  button.table-buttons {
    max-width: 80%;
    margin-right: 0;
    span.icon:first-child {
      margin: 0;
      display: contents;
    }
    span {
      span.filter-badge {
        margin: 0px;
        font-weight: bolder;
        font-size: smaller;
        right: -0.8rem;
        top: -0.4rem;
        position: absolute;
        border-radius: 50%;
        width: auto;
        min-width: 0.88rem;
        max-height: 0.9rem;
        /* padding: 0.1rem; */
        align-items: center;
        color: white;
        background: #48c774;
        justify-content: center;
        display: flex;
      }
      + span.icon {
        margin: 0;
        display: contents;
      }
    }
  }
}

div.custom-side-bar {
  z-index: 1 !important;
  &.icon-only {
    &.is-reduced {
      div.sidebar-content {
        margin: 0.3rem;
        border-radius: 50%;
      }
      div.head {
        div:first-child {
          margin-bottom: 0 !important;
        }
        button:focus {
          border: 0px;
          box-shadow: none;
        }
      }
      div.content {
        transition-duration: 0.4s;
        display: none;
      }
    }
  }
  div.head {
    button {
      &:focus {
        box-shadow: none;
      }
      span.icon {
        color: $primary;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    margin-left: 0.3rem;
    li {
      border-bottom: 0.1rem solid $primary;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
      padding-inline: 0.2rem;
      &:hover {
        a.icon-text {
          span.icon {
            color: $primary;
            + span {
              color: $primary;
            }
          }
        }
      }
      a.icon-text {
        padding: 0;
        span {
          font-size: small;
        }
      }
      span.filter-badge {
        margin: 0px;
        font-weight: bolder;
        font-size: smaller;
        top: -0.4rem;
        position: relative;
        border-radius: 50%;
        width: auto;
        min-width: 0.88rem;
        max-height: 0.9rem;
        align-items: center;
        color: white;
        background: #48c774;
        justify-content: center;
        display: inline-flex;
      }
      // & + span.menu-item-divider:not(:last-child) {
      //   width: 100%;
      //   display: block;
      //   border-radius: 0.5rem;
      //   border: 0.05rem solid $primary;
      // }
    }
  }
  &:not(.is-reduced) {
    div.head {
      > div {
        justify-content: flex-end;
      }
    }
  }
}
div.custom-dropdown-menu {
  > div.dropdown-menu {
    min-width: 3rem;
    > div.dropdown-content {
      a.dropdown-item {
        span.filter-badge {
          margin: 0px;
          font-weight: bolder;
          font-size: smaller;
          top: -0.4rem;
          position: relative;
          border-radius: 50%;
          width: auto;
          min-width: 0.88rem;
          max-height: 0.9rem;
          align-items: center;
          color: white;
          background: #48c774;
          justify-content: center;
          display: inline-flex;
        }
        &:hover {
          color: $primary !important;
        }
      }
    }
  }
}

.is-aligned-center {
  margin: 0 auto;
}
.is-justified-center {
  justify-content: center;
}

// AdvacedCropper
.advanced-cropper {
  position: relative;
  text-align: center;
  div.advanced-cropper-container {
    min-height: 180px;
    background-color: black;
  }
  .uploader {
    > div.upload-draggable {
      display: grid;
    }
  }
  span.icon {
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: darkslategray !important;
    }
  }
  div.advanced-cropper-actions {
    position: absolute;
    justify-content: space-between;
    transform: translate(1rem, -2.5rem);
  }
  div.advanced-accesibility-actions {
    position: absolute;
    display: grid;
    left: 15px;
    bottom: 25%;
  }
  div.cropper-preview-circle {
    position: absolute;
    right: 10px;
    transform: translate(0rem, -10rem);
    border-radius: 250px;
  }
  .results {
    &__wrapper {
      display: flex;
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: dashed 1px rgba(white, 0.5);
      max-width: 30%;
    }
    &__coordinates {
      background: rgba(black, 0.8);
      padding: 5px;
      font-size: xx-small;
      color: white;
      pointer-events: none;
      align-self: center;
    }
    &__coordinates-title {
      font-weight: bold;
    }
    &__coordinates-title,
    &__coordinates-value {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    &__preview {
      max-width: 66%;
      height: auto;
      opacity: 0.8;
      pointer-events: none;
      &.preview_circle {
        img {
          border-radius: 50%;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .advanced-cropper {
    .results {
      &__coordinates {
        display: none;
      }
      &__wrapper {
        max-width: 40%;
      }
      &__preview {
        max-width: 100%;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
.add-option {
  &:hover {
    color: black;
  }
}
.no-data {
  display: grid;
  justify-content: center;
  text-align: center;
}

// Delete later
div.autocomplete {
  div.no-data {
    text-align: center;
    /* margin: 0 auto; */
    justify-items: center;
    min-height: 4rem;
    align-content: space-evenly;
    display: grid;
    > span {
      margin-top: 0.2rem;
    }
  }
}
.ultra-file-uploader {
  > div.field {
    > div.field-body {
      display: flex;
      .field:last-child:not(.has-addons) {
        p.control {
          display: contents;
        }
      }
    }
  }
}
// Delete later

.none-header-border {
  .section {
    min-height: auto !important;
    padding: 0;
    .card-section {
      .card {
        box-shadow: none !important;
        border-radius: 0 !important;
        border: 0px;
        padding: 1rem;
        header {
          display: none;
        }
        .container.mt-3 {
          margin-top: 0px !important;
        }
        .b-table {
          padding-bottom: 0 !important;
        }
        header + div.card-content {
          padding-bottom: unset;
        }
      }
    }
  }
}

.none-header-border-card {
  section.tab-content {
    padding: unset !important;
    .card-section {
      .card {
        box-shadow: none !important;
        border-radius: 0 !important;
        border: 0px;
        header {
          display: none;
        }
        .container.mt-3 {
          margin-top: 0px !important;
        }
        .b-table {
          padding-bottom: 0 !important;
        }
        .card-footer {
          visibility: hidden;
        }
        
      }
    }
  }
  div.card-content {
    padding-bottom: unset;
  }
  footer.card-footer {
    visibility: hidden;
  }
}

.no-header {
  .table-container {
    header {
      display: none;
    }
    .card-content {
      .b-table {
        padding-bottom: unset !important;
      }
    }
  }
}

.option-item-table-config {
  font-size: 1rem;
  border-radius: 0;
  color: #6c6e86;
  z-index: 1000;
  float: left;
  min-width: 160px;
  width: -webkit-fill-available;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 0.9rem;
  a:hover {
    background-color: $primary;
    color: white;
  }
}

.options-table-config {
  .dropdown-content {
    width: -webkit-fill-available;
  }
  .bTable {
    padding-top: 2rem !important;
  }
}

tr.detail {
  .detail-container {
    padding: 0.2rem !important;
  }
}

.inf-events-table {
  tr.detail {
    td {
      .detail-container {
        padding: 0 !important;
      }
    }
  }
}

td.td-hidden {
  background-color: rgba(236, 236, 236, 0.507);
  border: 1px solid #ffffff;
}

td.td-color {
  text-align: center;
  color: hsl(256, 60%, 59%);
}

.tabs-component {
  .modal-card-body {
    padding-bottom: 0px;
    .card-content {
      padding-bottom: 1rem;
    }
  }
}

.button-plus-tab {
  border-color: transparent !important;
  background-color: transparent !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  padding-bottom: 4rem;
}

// .emission-color {
//   background-color: #48c774;
// }
