<template>
  <div>
    Home
  </div>
</template>

<script>

import {
  unregisterApplication
} from "single-spa";
import * as singleSpa from 'single-spa'

const appNames = singleSpa.getAppNames()

export default {
  name:"HomePage",
  components: {
  },
  created() {
    if (appNames.includes("subapp")){
      unregisterApplication('subapp').then(()=>{
      console.log('subapp is unmounted')
    });
    }    
  },
  
};
</script>
